---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: kafka-benchmarker-5
    job: kafka-benchmarker
  name: kafka-benchmarker-5
  namespace: sre-test-kafka
spec:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              job: kafka-benchmarker
          topologyKey: kubernetes.io/hostname
        weight: 100
      - podAffinityTerm:
          labelSelector:
            matchLabels:
              job: kafka-benchmarker
          topologyKey: failure-domain.beta.kubernetes.io/zone
        weight: 100
  containers:
  - env:
    - name: BOOTSTRAP_SERVERS
      value: sre-test-kafka-bootstrap.sre-test-kafka.svc:9092
    - name: HOME
      value: /tmp
    image: quay.io/fciocchetti0/kafka-benchmarker:master
    imagePullPolicy: Always
    name: kafka-benchmarker-5
    command: ["/usr/local/bin/producer"]
    args:
      - --brokerList=$(BOOTSTRAP_SERVERS)
      - --topicRangeStart=400
      - --topicRangeEnd=500
      - --nMessages=1000000
      - --nThreads=2
    resources:
      limits:
        cpu: "1"
        memory: 2Gi
      requests:
        cpu: "1"
        memory: 2Gi
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
